$primary-color:white;
$font-weights:(
    "bold":700,
    "regular":500,
    "medium":400,
);
$font-family:(
    "logo": gills sans,
    "nav": tahoma,
    
);
$font-size:(
    "sm":14px,
    "md":16px,
    "l":18px,
    "es":12px,

)